body {
            font-family: 'Montserrat', sans-serif;
        }
        .bg-charcoal {
            background-color: #374652;
        }
        .logo img {
            height: 70px;
        }
        .navbar-nav {
            margin-left: 1.75rem;
            padding-left: 2rem;
            border-left: 2px solid rgba(205, 209, 212, 1);
            /* background: #f0f; */
        }
        .nav-link {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 400;
        }
        .navbar-user {
            display: flex;
            text-align: right;
            /* background: #f0f */
        }
        .user-info {
            letter-spacing: 1px;
            font-size: 14px;
            padding: 8px 15px 0;
            line-height: 20px;
        }
        .user-name {
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
        }
        .user-links {
            text-transform: uppercase;
            color: #fff;
            font-size: 13px;
        }
        .user-links a {
            text-decoration: none;
            color: #fff;
            opacity: .5;
        }
        .user-links a:hover {
          opacity: .7;
        }
        .user-pic { 
          border-radius: 10px;
          padding: 3px;
          background: rgb(48,202,175);
          background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
        }
        .user-pic img {
            border-radius: 7px;
        }
        .user-pic.pic-sm {           
            width: 56px;
            height: 56px;
        }
        .user-pic.pic-lg {
            width: 106px;
            height: 106px;
        }
        .pic-sm img {
            width: 50px;
            height: 50px;
        }
        .pic-lg img {
            width: 100px;
            height: 100px;
        }
        main {
          margin-top: 50px;
        }
        .card {
          border-radius: .5rem; 
          border: none;
        }
        .shadow-md {
          box-shadow: 0 0 3rem rgba(0,0,0,.1)!important;
        }
        .margin-top-50 {
          margin-top: 50px;
        }
        .user-card {
          text-align: center;
          color: #111;
        }
        .user-card .user-pic {
          margin: -50px auto 0;
        }
        .user-card .user-title {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 10px;
        }
        .user-card .user-location {
          font-size: 14px;
          font-weight: 400;
          color: #888;
          margin-bottom: 20px;
        }
        .user-card .user-name {
          color: #1a1a1a;
          font-size: 15px;
          font-weight: 700;
          margin: 20px 0 10px;
        }
        .user-card .card-text {
          font-size: 15px;
          color: #888;
          margin-top: 20px;
          margin-bottom: 20px;
        }

        @media (min-width: 768px) {
            .navbar-expand-md .navbar-nav .nav-link {
                padding-right: 1.75rem;
                padding-left: 1.75rem;
            }
        }