h1, h2, h3, h4, h5, p, span {
    font-family:  Montserrat, sans-serif;
}

#app .navbar-nav.mr-auto {
    display: none; 
}

.adminContainer {
    padding: 0 !important;
}

.shadow-md {
          box-shadow: 0 0 3rem rgba(0,0,0,.1)!important;
}

a:link {
    background: none !important; 
}

#header, #footer, #loginPage, #hometop, #pool-mining, #membership, #trust-us{
    background: #364654;
    padding: 0 3em
}
.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

#subscribe, #founders {
    background: #f5f5f5; 
}

#join-us{
    background: #ffffff;
    width: 100%; 
    padding: 3em 4em;
}

#join-us .row{
        display: -webkit-flex;
    -webkit-align-items: flex-end;
    display: flex;
    align-items: flex-end;
}

#join-us .bttn{
    color: #000000;
    padding: 1em 10em;
}

#hometop, #community, #about, #pool-mining, #membership, #subscribe, #trust-us, #founders {
    display: inline-block;
    width: 100%; 
    padding: 3em 4em
}

#hometop .col{
    /*padding: 1em;*/
    color: #fff;
}
#hometop h5{
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 14px;
}

#hometop h1 {
   /* line-height:80px;*/
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 40px;
}
#hometop p{
    max-width: 578px;
    color: #FFFFFF;
    font-size: 13px;    
    font-weight: 200;   
    line-height: 20px;
}
.txtupper{
    text-transform: uppercase;
}
.bttn{
    height: 26px;   
    width: 78px;    
    color: #FFFFFF; 
    font-family: Montserrat, sans-serif;    
    font-size: 10px;    
    font-weight: 300;   
    letter-spacing: 1px;    
    line-height: 5;  
    text-align: center;
    border: #13CE66 1px solid !important;
    text-transform: uppercase;
    padding: 1.5em 3em;
    border-radius: 5px;
    margin: 30px 0
}
a.bttn:hover{
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%) !important;
}
.accountLink a {
    border: #13CE66 1px solid !important;
}

#pool-mining p, #pool-mining h1, #pool-mining .txt{
    color: #FFFFFF;
    text-align: right;
}
#pool-mining hr{
    border: 2px solid #FFFFFF;
    width: 20%
}

#pool-mining .txt span{
    text-transform: uppercase;
    font-size: 10px;    
    font-weight: 300;   
    letter-spacing: 1px;    
    line-height: 12px;  
    text-align: right;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

#pool-mining .txt p{
    margin-bottom: 25px;
    letter-spacing: normal;
    font-weight: 200;
    line-height: 20px;
    font-size: 13px;
}

#pool-mining .txt h1{
    margin-bottom: 20px
}

#community hr{
    border-image: linear-gradient(to right, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
    border-image-slice: 1;
    border-width: 3px;
    width: 15%
}

#community h1, #about h1, #trust-us h1, #founders h1, #subscribe h1 {   
    font-size: 24px;    
    font-weight: 800;   
    letter-spacing: 1px;    
    line-height: 30px;
}

#subscribe input {
    border: 1px solid #000;
}

#community h1, #about h1, #community p, #join-us p, #founders h1{
    color: #000000;  
}

#community p, #join-us p, #trust-us p{
    font-size: 13px;    
    font-weight: 200;   
    line-height: 20px;
    margin: auto;
}

.difcolor{
    color: #13CE66; 
}

#community .groups, #about{
    text-align: center;
}

#community .groups > .group, #about .groups .group > .content{
    padding: 4%
}

#community .groups .group > p, #about .groups .group p,#join-us p{
    color: #000000;   
    font-size: 16px;    
    line-height: 19px;
    font-weight: normal;
    margin-top: 8px
}

#community .groups .group > p:last-child, #about .groups .group .content > p:last-child, #join-us p:last-child{
    color: #000000; 
    font-size: 13px;    
    font-weight: 200;   
    line-height: 20px;  
}

div.group:not(:last-child):after{
    content: '| ';
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
}

/*div.group > .content:last-child:after{
    content: '';
}*/

#community .group img, #about .group img{
    padding-bottom: 30px;
}

#join-us  span{
    color: #000000;
    font-size: 12px;    
    letter-spacing: 1px;    
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

#trust-us, #founders h1{

    text-align: center;
}

#trust-us ul{
    list-style-type: none;
}

#trust-us .desktop ul li{
    display: inline-block;

}

#trust-us .section-title{
    padding-bottom: 20px; 
}

#trust-us p, #about .section-title{
    padding-bottom: 60px
}

#about .section-title{
    padding-top: 20px
}

#footer, #trust-us {
    color: #fff;
}

#founders .row.dirs{
    padding-top: 60px;
}

#founders .dir{
    margin-bottom: 30px;
    margin-top: 50px;
}

#founders .dir > div.content{
    background: #ffffff;
    border-radius: 8px;
    text-align: center;
    margin: 0 10px;
    box-shadow: 0 0 0 3px #dddddd14;
}
.section-title h1{
    font-weight: 900;
    margin: 0
}

#founders .dir p.desc, #founders .dir p.title{
    font-size: 12px;       
    letter-spacing: 1px;    
    line-height: 14px;
}

#founders .dir p.title{
    font-weight: 600;
    padding-top: 15px;
}
.dir-pic{    
    border-radius: 10px;
    padding: .2em;
    background: rgb(48,202,175);
    background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
    width: 90px;
    height: 90px;
    position: relative;
    margin: -95px auto 0;
}
#founders .dir p.desc{
    font-weight: 300;
}

.dir .content{
    height: 180px;
    position: relative;
    padding: 45px 10px;
}

.dir .content img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
}
body {
    background: #fefefe; 
}

#logoLoginDiv {
    border-right: 1px #fff solid; 
    padding-right: 3em;
}

#logoDiv {
    border: none;
}

#logo img {
    width: 100%; 
}

.navbar {
    margin-bottom: 0; 
}

#navBar {
    text-align: left; 
    text-transform: uppercase; 
    letter-spacing: .2em;
    font-size: .8em;
}

#loginNavBar {
    text-align: right; 
    text-transform: uppercase; 
    letter-spacing: .2em;
    font-size: .8em;
 
}

.nav > li > a {
    color: #fff;
    padding: 5px 20px 5px 20px;
    border: #515966 1px solid; 
    margin: 0 10px 0 10px;
    text-decoration: none;   
}

#navigation li a{
    border:none;
}

.nav > li > a:hover {
    border: #fff 1px solid; 
    background: none;  
}

#adminSide .current li.current a {
    color: #515966;
    border: #515966 1px solid; 
    background: #fff !important;  
}

#adminSide {
    float: left; 
    max-width: 25%;
    min-width: 15%;
    padding: 1.5em; 
    height: 3500px; 
}

#adminSide .nav > li > a {
    background: #515966 !important;
}

/* Old Styles */


#main {
    padding: 1.5em; 
}

#sidebar-nav ul {
    margin: 0;
}

#sidebar-nav ul, #sidebar-nav ul li {
    display: block; 
}

#sidebar {
    float: left; 
}

ul.nav {
    display: inline; 
}

ul.nav li {
    display: inline-flex;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
.logos li img{
    width: 120px;
   /* height: 30px;*/
}

.logos li{
    margin: 10px 50px
}
ul.logos{
    padding-left: 0
}
#app main.py-4{
    padding-bottom: 0 !important
}
/*Login screen*/

 .login-screen .card,.login-screen {
    background-color: #374652
  }

  .logo.centered{
    text-align: center;
  }
  .login-screen .fa-arrow-left{
    float: left;
    color: #fff
  }
  main.login-screen{
    margin-top: 0;
    height: 100vh
  }
  .login-screen .card{
    border: none;
  }
  .login-screen .card-header{
    background-color: transparent;
    border-bottom: 1px solid #fff
  }
  .login-screen .card-body .row .col-md-12,.login-screen .text-md-left{
    padding-right: 0;
    padding-left:0;
  }
  .login-screen .text-md-left{
    color: #fff;
  }
  .login-screen .form-control{
    border-color: transparent;
  }
  .login-screen .form-group label{
    margin-bottom: 0
  }
  .login-screen input{
    background-color: #4C5A67;
    color: #fff !important;
    padding: 8px !important
  }
  .login-screen .form-control:focus, .login-screen .form-control:hover,.login-screen .form-control:active,.login-screen .form-control:-webkit-autofill, .login-screen .form-control:-webkit-autofill:focus,.login-screen .form-control:-webkit-autofill:hover,.login-screen .form-control:-webkit-autofill:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#20CCAF;
    background-color: transparent !important;
  }
  .h-login-screen .navbar{
    position: relative;
  }
  .h-login-screen{
    max-width: 100%;
    padding:0;
  }
 .login-screen .btn-primary{
    background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
    border: none;
    width: 100%;
    text-transform: uppercase;
    color: #000;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 12px;
    padding: 15px;
 }
 .login-screen .form-group > div{
    margin: 0 auto;
    text-align: center;
 }
.link-reset > div.col-md-12{
    text-align: right !important;
}
 .reset{
        color: #fff;
        font-size: 10px;    
        font-weight: 300;   
        letter-spacing: 1px;    
        line-height: 12px;  
        text-transform: uppercase;
        padding-right: 0
 }
 .pass{
    margin-bottom: 0
 }
 .register{
 	color: #FFFFFF;	
 	font-size: 10px;	
 	font-weight: 300;	
 	letter-spacing: 1px;	
 	line-height: 12px;
 	text-transform: uppercase;
    text-decoration: none;
 }
 .register:hover, .reset:hover{
    text-decoration: none;
    color: rgba(48,202,175,1)
 }
 .btn-linkedin{
 	color: #fff;
 	text-transform: uppercase;
 	border: 1px solid rgba(48,202,175,1);
 	padding: 1em 2em;
 	border-radius: .25rem

 }
 .btn-linkedin:hover{
 	background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%)!important;
 	text-decoration: none;
 	color: #fff
 }
.login-screen .card-header{
 	text-align: center;
 	padding:3rem 0 3rem;
 	margin-bottom: 25px

 }
 .login-screen .col-md-4{
 	padding-left: 0;
 	padding-right: 0;
 }
 /*register screen*/
.login-screen .col-form-label{
	color: #fff
}
/*end login screen*/
.c-dark{
    color: #364654
}
.c-white{
    color: #fff
}
#body-container #main{
    width: initial !important;
}
/*#hometop .squares-dark{
    position: absolute;
    left: 50%;
    bottom: -70px
}*/

/*video hometop*/
#hometop{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: none !important;
    overflow: hidden;
    height: -o-calc(100vh - 60px); /* opera */
    height: -webkit-calc(100vh - 60px); /* google, safari */
    height: -moz-calc(100vh - 60px); /* firefox */
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
}

.fullscreen-bg__video {
    position: absolute; 
    right: 0; 
    top: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -5;
    background-size: cover;
    overflow: hidden;
}
.opacity-layout{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #364654;
    z-index: -1;
    opacity: 0.85;
}
/*end video hometop*/

/*cookie consent*/
#cookieConsent {
    background-color: #364654ab;
    min-height: 26px;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
    border-top: 1px solid rgba(48,202,175,1)
}
#cookieConsent a {
    color: rgba(48,202,175,1);
    text-decoration: none;
    text-transform: uppercase;

}
#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeCookieConsent:hover {
    color: rgba(48,202,175,1);
}
#cookieConsent a.cookieConsentOK{
    color: #FFFFFF;
    text-decoration: none;
    background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%) !important;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
    text-transform: uppercase;
}
#cookieConsent a.cookieConsentOK:hover{
    color: #fff;
}
#cookieConsent a:hover {
    color: rgba(50,251,130,1);
}
/*Cookie Consent End*/


.carousel-indicators{
    bottom: -15px
}
#myCarousellogo .carousel-indicators{
    bottom: -30px
}
.carousel-indicators li{
    border-radius: 0 !important;
    border-color: #364654
}
#myCarousellogo .carousel-indicators li{
    border-color: #fff
}
#myCarousellogo .carousel-indicators .active{
    background-color: #fff
}
.carousel-indicators .active{
    background-color: #364654
}
.carousel-control.left,.carousel-control.right{
    display: none;
}
#myCarousellogo .carousel-inner>.item>a>img,#myCarousellogo .carousel-inner>.item>img{
    margin: auto;
    width: auto;
    height: 40px
}
#header .just-desk .navbar-inner.row{
    display: flex;
    align-items: center;
}
.just-desk{
    display: block;
}
.just-mob{
    display: none;
}

/*register page*/

.step{
    display: none;
}

/*end register page*/

@media only screen and (max-width: 1200px) {
    div.group:nth-child(2):after{
        content: ' ';
    }
}

@media only screen and (max-width: 1000px) {
    .just-desk{
        display: none;
    }
    .just-mob{
        display: block;
    }
    .just-mob .navbar-toggle{
        float: left;
    }
    .just-mob .navbar-toggle.users{
        float: right;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) { 
    .just-mob .navbar-collapse.collapse{
        display: none;
    }
    .just-mob #logoDiv{
        width: 50%
    }
    .just-mob .navbar-inner.row{
        display: flex;
        align-items: center;
    }
    /*.just-mob .navbar-toggle{
        display: block;
    }*/
}

@media only screen and (max-width: 768px) {
    #pool-mining img{
        width: 100%
    }
    #pool-mining p, #pool-mining h1, #pool-mining .txt,#pool-mining .txt span{
        text-align: left;
    }
    #pool-mining .txt{
        padding-top: 30px
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    #pool-mining h1, #about h1{
        font-weight: 800;
        font-size: 24px;
    }

    div.group:not(:last-child):after{
        content: ' ';
    }

    #join-us .row {
        display: block;
    }
    #join-us .txt-right{
        text-align: left;
        padding-top: 25px
    }
    #join-us p{
        margin-top: 15px
    }

    #community .col{
        padding-bottom: 30px
    }

    #logoDiv{
        width: 50%;
        float: none;
        margin: auto;
    }
    .btn-linkedin{
        padding: 1em 1em
    }
    footer .navbar-brand img{
        margin: auto;
    }
}