body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #1a1a1a;
}
.profile {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #1a1a1a;
}
.bg-charcoal {
    background-color: #374652;
}
.bg-smoke {
    background-color: #F5F5F5;
}
.font-weight-light {
  font-weight: 400 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.font-weight-heavy {
  font-weight: 900;
}
.ls-1 {
  letter-spacing: 1px;
}
.navbar-brand img {
    height: 70px;
}
.navbar-nav {
    margin-left: 1.75rem;
    padding-left: 2rem;
    border-left: 1px solid #fff;
}
.nav-link {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 200;
    color: rgba(255,255,255,.7) !important;
    transition: color 100ms linear, border 100ms linear;
    border: 1px solid transparent;
    border-radius: 10px;
}
.nav-link:hover {
    color: rgba(255,255,255,1) !important;
    border: 1px solid rgba(255,255,255,.3);
}

.user-info {
    letter-spacing: 1px;
    font-size: 13px;
    padding: 8px 15px 0;
    line-height: 20px;
    text-align: right;
}
.user-links a {
    text-decoration: none;
    color: #fff;
    opacity: .7;
    transition: opacity 100ms linear;
}
.user-links a:hover {
  opacity: 1;
}
.user-pic {
  border-radius: 10px;
  padding: 3px;
  background: rgb(48,202,175);
  background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
}
.user-pic img {
    border-radius: 7px;
}
.user-pic.pic-sm {
    width: 56px;
    height: 56px;
}
.user-pic.pic-lg {
    width: 106px;
    height: 106px;
}
.pic-sm img {
    width: 50px;
    height: 50px;
}
.pic-lg img {
    width: 100px;
    height: 100px;
}
main {
  /* margin-top: 140px; */
  position: relative;
}
.card {
  border-radius: .5rem;
  border: none;
}
.shadow-md {
  box-shadow: 0 0 3rem rgba(0,0,0,.1)!important;
}
.margin-top-50 {
  margin-top: 50px;
}

.card-body {
  padding: 1.75rem 1.5rem 2.25rem;
}
.user-card .user-pic {
  margin: -55px auto 0;
}
.card-titled .card-header {
  border-radius: .5rem .5rem 0 0;
  border: none;
  padding: 10px 20px;
}
.card-titled .card-title {
  color: #fff;
  font-weight: 400;
  margin: 0;
  line-height: 40px;
  font-size: 14px;
}
.card-titled .card-title a {
  color: #fff;
  opacity: .7;
}
.card-titled .card-title a:hover {
  opacity: 1;
}
.card-titled .card-title i {
  line-height: 40px;
}

.card-img-left {
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%
}

.btn-outline-gradient-lg-green {
  border: none;
  background: rgb(48,202,175);
  background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.btn-outline-gradient-lg-green span {
  display: inline-block;
  background: #fff;
  transition: background 150ms linear;
  padding: 13px 20px 13px 21px;
  border-radius: 7px;
}
.btn-outline-gradient-lg-green:hover span {
  background: transparent;
}

.btn-transparent-lg {
  border: none;
  background: transparent;
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}
.btn-transparent-lg span {
  display: inline-block;
  background: transparent;
  transition: background 150ms linear;
  padding: 13px 30px;
  border-radius: 7px;
}
.btn-transparent-lg:hover span {
  background: transparent;
}

.btn-outline-gradient-sm-green {
  border: none;
  background: rgb(48,202,175);
  background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
  border-radius: 5px;
  padding: 1px;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
}
.btn-outline-gradient-sm-green span {
  display: inline-block;
  background: #fff;
  transition: background 150ms linear;
  padding: 8px 10px;
  border-radius: 4px;
}
/* .btn-outline-gradient-sm-green:hover span {
  background: transparent;
} */

.btn-outline-gradient-md-red {
  border: none;
  background: rgb(202, 44, 193);
  background: linear-gradient(90deg, rgba(202, 44, 193, 1) 0%, rgba(250, 16, 58, 1) 100%);
  border-radius: 5px;
  padding: 2px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}
.btn-outline-gradient-md-red span {
  display: inline-block;
  background: #fff;
  transition: background 150ms linear;
  padding: 8px 40px;
  border-radius: 3px;
}
.btn-outline-gradient-md-red:hover span {
  background: transparent;
  color: #fff;
}

.btn-outline-sm {
  border: 1px solid #374652;
  background: #fff;
  border-radius: 5px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  text-transform: lowercase;
}
/* .btn-outline-sm:hover {
  background: #374652;
  color: #fff;
} */

.btn-solid-lg-charcoal {
  border: none;
  background: #374652;
  border-radius: 10px;
  padding: 16px 40px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}
.btn-solid-lg-charcoal:hover {
  background: #000;
}

.form-control {
    border: 1px solid #eee;
}
input.form-control {
  padding: 20px 15px;
}
textarea.form-control {
  padding: 10px 15px;
}
select.form-control-sm {
  height: 42px;
}
.form-group label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 7px;
}
.company-logo {
    width: 60px;
    height: 60px;
    padding: 1px;
    overflow: hidden;
    border-radius: 7px;
}
.company-logo img{
    border-radius: 6px;
}

.tags i {
  opacity: .2;
  margin-left: 5px;
}

.c100 {
  margin-bottom: 0;
  margin-right: 10px;
  background: transparent;
}
.c100.p80 .fill {
  border: 0.08em solid  rgb(50,251,130);
}
.c100.p80 .bar {
border: 0.08em solid  rgb(50,251,130);
}
.c100.small {
  font-size: 40px;
}
.c100::after {
  background: transparent;
}
.c100 > span {
  color: #fff;
}

.profile-checklist {
  font-size: 15px;
}
.profile-checklist i {
  margin-top: 1px;
  font-size: 18px;
  color: #374652
}

.btn-solid-sm-charcoal {
  font-size: 12px;
  border-radius: 12px;
  padding: 1px 12px;
  color: #fff;
  background-color: #374652;
}
.btn-solid-sm-charcoal i {
  font-size: 10px;
  margin-right: 5px;
}
.btn-solid-sm-charcoal:hover {
  background: #000;
}

footer {
  padding: 30px 0;
  font-size: 12px;
}
footer .navbar-brand img {
    height: 60px;
}
footer.row{
  padding-bottom: 0
}

.squares {
  position: relative;
  margin-top: -33px;
}
.squares .sq-1 {
  position: absolute;
  top: 10px;
  left: 0;
}
.squares .sq-2 {
  position: absolute;
  top: 0;
  left: 17px;
}

.form-upload {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 20px;
}

.btn-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -3px;
}

.text-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
  top: -50px;
  position: absolute;
}
.text-link:hover {
  color: #fff;
  text-decoration: none;
}
.text-link i {
  margin-right: 20px;
}
.bg-profile {
  /* top: 90px; */
  height: 150px;
  z-index: -1000;
  position: absolute;
  top: 0px;
}


/* from app-mid */
header .navbar{
  transition:all .2s ease;
}
.box-header h3{
  font-size: 15px;
  font-weight: bold;
}
.form-control {
    border: 1px solid #eee;
}
input.form-control {
  padding: 20px 15px;
}
textarea.form-control {
  padding: 10px 15px;
}
select.form-control-sm {
  height: 42px;
}
.form-group label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 7px;
}
.company-logo {
    width: 60px;
    height: 60px;
    padding: 1px;
    overflow: hidden;
    border-radius: 7px;
}
.company-logo img{
    border-radius: 6px;
}

.experience_location_tenure{
    font-size: 12px;
}
.search_member{
  background-color: #3A4651;
}
.collab_invites{
  background-color: #F5F5F5;
}
.filter-block h3{
  font-size: 15px;
  font-weight: bold;
}
.filter-block .form-group label{
  font-weight: normal;
}
.showmore_collapse{
  font-size: 11px;
  font-weight: bold;
  border: none;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}
.showmore_collapse:active, .showmore_collapse:focus{
  outline: none;
}
.showmore_collapse i{
  margin-left: 5px;
}
.search-button{
  border: none;
  background: transparent;
  font-size: 15px;
}
.search-button i{
  font-size: 15px;
}
.search-input{
  color: #394653;
  width: 80%;
  font-size: 13px;
}
.search-input:focus{
  outline: none !important;
  color: #000;
}
input:focus{
  border-color:#61C9B2 !important;
  box-shadow: 0 0 0 0.2rem rgba(119, 249, 138,.25) !important;
}
.search-block{
  border-radius: 3px;
  background-color: #F5F5F5;
  padding: 7px;
}
.search-block input{
  border: none;
  background: transparent;
}
.search-block input:focus{
  outline: none !important;
  box-shadow: none !important;
}
.collabsend_block h2{
  font-size: 25px;
  font-weight: bold;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.justify-content-around {
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}
footer .navbar-brand{
  float: none;
}
/**/


@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.75rem;
        padding-left: 1.75rem;
    }
}
