.box-header h3{
    font-size: 15px;
    font-weight: bold;
}
form{
    font-size: 13px;
}
.form-control{
    font-size: 13px;
}
.form-group label{
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: .3rem;
}
.main-btn{
    background-color: #394653;
    border: none;
    font-size: 13px;
    text-transform: uppercase;
}
.main-btn:hover{
    background: linear-gradient(90deg, rgba(48,202,175,1) 0%, rgba(50,251,130,1) 100%);
}
.tag-interests{
    font-size: 13px;
}
.tag-interests:hover{
    background-color: transparent;
    border-color: rgba(48,202,175,1);
    color: #000;
}
.experiences-block{
    font-size: 13px;
}
.company-logo{
    width: 60px;
    height: 60px;
    padding: 1px;
    overflow: hidden;
    border-radius: 7px;
}
.company-logo img{
    border-radius: 6px;
}
.experiences-block{

}
.experience_location_tenure{
    font-size: 11px;
}
.btn-wrapper-remove{
    background: linear-gradient(90deg, rgba(188, 56, 187,1) 0%, rgba(234, 51, 58,1) 100%);
    width: 104px;
    padding: 2px;
    border-radius: 7px;    

}
.btn-wrapper-remove button{
    padding: 5px 10px;
    width: 100px;
    border: none;
    border-radius: 6px;
    font-size: 11px;
    text-transform: uppercase;
}